<%= image_tag @portfolio.main_image %>
<h1><%= @portfolio.title %></h1>
<em><%= @portfolio.subtitle %></em>
<p><%= @portfolio.body %></p>
<%= link_to "Edit", edit_portfolio_path(@portfolio) %>
<%= link_to "Delete", @portfolio, method: :delete, data: {confirm: "Are you sure you want to delete this item?"}%>